<ul class="nav justify-content-end mb-4">
  <li class="nav-item">
    <button (click)="goToSearch($event)" id="nav-Search" class="btn btn-link m-1 px-3 py-2" [ngStyle]="{'border-color': router.url=='/search'? 'white':'rgba(0,0,0,0)'}" aria-current="page" href="#">Search</button>
  </li>
  <li class="nav-item">
    <button (click)="goToFavorites($event)" id="nav-Favorites" class="btn btn-link m-1 px-3 py-2" [ngStyle]="{'border-color': router.url=='/favorites'? 'white':'rgba(0,0,0,0)'}" href="#">Favorites</button>
  </li>
</ul>
