<div id="form-container" class="container pb-4 mt-5 mx-auto">
  <form #f="ngForm" (ngSubmit)="onSearch(f)" class="row gx-5 p-3" ngNativeValidate>
    <div class="col-md-12 pb-2 text-center fs-1" id="form-title">
      Events Search
    </div>
    <hr>
    <div class="col-md-12">
      <label for="keyword-field" class="form-label mt-2">Keyword<span style="color:red">*</span></label>
      <input matInput type="text" class="form-control" id="keyword-field" name="keyword-field" required [(ngModel)]="enteredKeyword" [matAutocomplete]="auto" [formControl]="searchMoviesCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="30"></mat-spinner></mat-option>
        <mat-option *ngFor="let suggestion of suggestedAttractions" [value]="suggestion">
            {{suggestion}}
          </mat-option>

      </mat-autocomplete>
    </div>
    <div class="col-md-6">
      <label for="distance-field" class="form-label mt-3">Distance</label>
      <input type="number" class="form-control" id="distance-field" name="distance-field" [(ngModel)]="enteredDistance" autocomplete="off">
    </div>
    <div class="col-md-5 col-10">
      <label for="category-field" class="form-label mt-3">Category<span style="color:red">*</span></label>
      <select class="form-select" id="category-field"  name="category-field" [(ngModel)]="selectedCategory">
        <option value="Default">Default</option>
        <option value="KZFzniwnSyZfZ7v7nJ">Music</option>
        <option value="KZFzniwnSyZfZ7v7nE">Sports</option>
        <option value="KZFzniwnSyZfZ7v7na">Arts & Theatre</option>
        <option value="KZFzniwnSyZfZ7v7nn">Film</option>
        <option value="KZFzniwnSyZfZ7v7n1">Miscellaneous</option>
      </select>
    </div>
    <div class="col-md-12">
      <label for="location-field" class="form-label mt-3">Location<span style="color:red">*</span></label>
      <input [disabled]="addressIsDisabled" type="text" class="form-control" id="location-field" name="location-field" required [(ngModel)]="selectedLocation" autocomplete="off">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input [(ngModel)]="isChecked" (change)="checkboxUpdated()" class="form-check-input mt-4" type="checkbox" id="auto-detect-location" name="auto-detect-location">
        <label class="form-check-label" for="auto-detect-location">
          Auto-detect your location
        </label>
      </div>
    </div>
    <div class="col-12 mt-3 text-center">
      <button type="submit" class="btn btn-danger mx-2">SUBMIT</button>
      <button (click)="onClear()" type="button" class="btn btn-primary mx-2">CLEAR</button>
    </div>
  </form>
</div>
