<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Event Venue</h5>
        <hr>
      </div>
      <div class="modal-body">
        <div class="my-google-map container">
          <div class="col-md-12 py-3 model-parent-size">
          <google-map *ngIf="mapOptions" [options]="mapOptions" width="100%" height="400px">
            <map-marker *ngIf="markerPosition" [position]="markerPosition"></map-marker>
          </google-map>
          </div>
        </div>
        <button type="button" class="mx-3 btn btn-secondary" style="background-color: black" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!--// References-->
<!--https://medium.com/swlh/angular-google-map-component-basics-and-tips-7ff679e383ff-->
